/*------------ table style set ------------*/
.hpb-cnt-tb1{
	background-color: #333333;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.hpb-cnt-tb2{
	background-color: #333333;
	border: 0px solid #333333;
}
.hpb-cnt-tb3{
	background-color: #333333;
	border: 0px solid #333333;
}
.tb-th1 {
	background-color: #BBBBBB;
	font-size: 80%;
	color: #333333;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.tb-th2 {
	background-color: #CCCCCC;
	font-size: 80%;
	color: #333333;
	border: 0px solid #333333;
}
.tb-cell1 {
	background-color: #FFFFFF;
	font-size: 80%;
	color: #333333;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	text-align: center;
}
.tb-cell2 {
	background-color: #FFFFFF;
	font-size: 80%;
	color: #333333;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	text-align: center;
}
.tb-cell2s1 {
	background-color: #FFFFFF;
	font-size: 80%;
	color: #333333;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.tb-cell2s2 {
	background-color: #FFFFFF;
	font-size: 80%;
	color: #333333;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	text-align: right;
}

/*
     FILE ARCHIVED ON 10:46:14 Jun 29, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:49:29 Jun 06, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 83.49
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.06
  RedisCDXSource: 0.685
  esindex: 0.007
  LoadShardBlock: 63.805 (3)
  PetaboxLoader3.datanode: 70.342 (4)
  load_resource: 197.375
  PetaboxLoader3.resolve: 59.348
*/